.card a {
    text-decoration: none;
    color: #FFE81F;
    font-size: 1.6rem;
    text-align: center;
    transition: all .7s;
}

.card a:hover {
    color: white;
    border: 2px solid #FFE81F;
    font-size: 1.8rem;
    font-weight: bolder;
}

.card-text { 
    font-size: 1.8rem;
    text-align: center;
}

.card .text-muted {
    color: #FFE81F!important;
    margin: .9rem auto;
}